<!doctype html>
<html>

<head>
    <title>PDF to text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>PDF to text converter</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="file">PDF File</label>
        <input type="file" accept="application/pdf" id="file" name="file" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <input type="submit" value="Convert to text" />
    </form>
</body>

</html>

<style lang="css">
    input {
        display: block;
        margin-bottom: 15px;
    }

    label {
        display: block;
    }
</style>
